[Unit]
Description=VL Live Map
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/vl-map
ExecStart=/usr/bin/node server.js
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=vl-map
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
